<div class="document-title">
  <div class="container">
    <h1 class="center">Company Login</h1>
  </div><!-- /.container -->
</div>

<div class="container">
  <alert></alert>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <form method="get" action="?">
        <div class="form-group">
          <label for="form-login-username">Username</label>
          <input type="text" class="form-control" id="form-login-username" name="username" [(ngModel)]="model.username">
        </div><!-- /.form-group -->

        <div class="form-group">
          <label for="form-login-password">Password</label>
          <input type="password" class="form-control" id="form-login-password" name="password" [(ngModel)]="model.password">
        </div><!-- /.form-group -->

        <div class="checkbox">
          <label>
            <div class="ez-checkbox">
              <input type="checkbox" class="ez-hide" name="remember_me" [(ngModel)]="model.remember_me">
            </div> Keep me signed in
          </label>

          <a href="#" class="link-not-important pull-right">Forgot Password</a>
        </div><!-- /.checkbox -->

        <div class="form-group">
          <button type="button" class="btn btn-secondary btn-block" (click)="signIn()">Sign in</button>
        </div><!-- /.form-group -->

        <hr>

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <a href="#" class="btn btn-facebook btn-block"><i class="fa fa-facebook"></i> Facebook</a>
          </div><!-- /.col-sm-6 -->

          <div class="col-xs-6 col-sm-6">
            <a href="#" class="btn btn-linkedin btn-block"><i class="fa fa-linkedin"></i> LinkedIn</a>
          </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
      </form>
    </div><!-- /.col-sm-4 -->
  </div><!-- /.row -->
</div>
