<div class="document-title">
  <div class="container">
    <h1 class="center">Change My Profile</h1>
  </div><!-- /.container -->
</div>

<div class="container">
  <alert></alert>
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab" aria-expanded="true">
            <strong>Personal Account</strong>
            <span>I'm looking for a job</span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="personal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="model.user.username" readonly>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label>E-mail</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="model.email">
              </div><!-- /.form-group -->

              <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone">
              </div><!-- /.form-group -->

              <div class="form-group">
                <label>Alternate Phone</label>
                <input type="text" class="form-control" name="alternate_phone" [(ngModel)]="model.alternate_phone">
              </div><!-- /.form-group -->

              <div class="form-group">
                <label>Birthday</label>
                <input type="date" class="form-control" name="birthday" [(ngModel)]="model.birthday">
              </div><!-- /.form-group -->

              <div class="form-group">
                <label>Address 1</label>
                <input type="text" class="form-control" name="address1" [(ngModel)]="model.address1">
              </div><!-- /.form-group -->

              <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" name="state" [(ngModel)]="model.state">
              </div><!-- /.form-group -->

              <div class="form-group">
                <label>Post Code</label>
                <input type="text" class="form-control" name="post_code" [(ngModel)]="model.post_code">
              </div><!-- /.form-group -->
            </div><!-- /.col-* -->

            <div class="col-sm-6">
              <div class="row">
                <div class="form-group col-sm-6">
                  <label>First Name</label>
                  <input type="text" class="form-control" name="first_name" [(ngModel)]="model.first_name">
                </div><!-- /.form-group -->

                <div class="form-group col-sm-6">
                  <label>Surname</label>
                  <input type="text" class="form-control" name="last_name" [(ngModel)]="model.last_name">
                </div><!-- /.form-group -->
              </div><!-- /.row -->

              <div class="form-group">
                <label form="form-register-photo">Photo</label>
                <div class="file-input file-input-ajax-new">
                  <div class="file-preview">
                    <div class="close fileinput-remove">×</div>
                    <div class=" file-drop-zone">
                      <div *ngIf="model?.avatar_path?.length <= 2" class="file-drop-zone-title"><i class="fa fa-photo"></i><span>Upload Photo</span></div>
                      <div class="file-preview-thumbnails">
                        <div *ngIf="model?.avatar_path?.length > 2" class="file-preview-frame">
                          <img [src]="model?.avatar_path" style="height: 170px">
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="file-preview-status text-center text-success"></div>
                      <div class="kv-fileinput-error file-error-message" style="display: none;"></div>
                    </div>
                  </div>
                  <div class="kv-upload-progress hide">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                        0%
                      </div>
                    </div>
                  </div>
                  <div class="input-group ">
                    <div tabindex="500" class="form-control file-caption kv-fileinput-caption">
                      <div class="file-caption-name">{{model?.avatar}}</div>
                    </div>

                    <div class="input-group-btn">
                      <button type="button" tabindex="500" title="Clear selected files" class="btn btn-default fileinput-remove fileinput-remove-button">Remove</button>
                      <button type="button" tabindex="500" title="Abort ongoing upload" class="btn btn-default hide fileinput-cancel fileinput-cancel-button">
                        <i class="glyphicon glyphicon-ban-circle"></i> Cancel
                      </button>
                      <div tabindex="500" class="btn btn-primary btn-file">
                        Browse
                        <input type="file" name="file" id="form-register-photo" (change)="uploadAvatar($event)">
                      </div>
                    </div>
                  </div></div>
              </div><!-- /.form-group-->

              <div class="form-group">
                <label>Address 2</label>
                <input type="text" class="form-control" name="address2" [(ngModel)]="model.address2">
              </div><!-- /.form-group -->

              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city" [(ngModel)]="model.city">
              </div><!-- /.form-group -->

              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" name="country" [(ngModel)]="model.country">
              </div><!-- /.form-group -->
            </div><!-- /.col-* -->
          </div><!-- /.row -->

          <div class="center">
            <button type="button" class="btn btn-secondary" (click)="save()">Update Profile</button>
          </div><!-- /.center -->
        </div><!-- /.tab-pane -->
      </div><!-- /.tab-content -->
    </div><!-- /.col-* -->
  </div><!-- /.row -->
</div>

<loading></loading>
