<div class="page-wrapper">
  <div class="header-wrapper">
    <div class="header">
      <div headertop class="header-top"></div><!-- /.header-top -->

      <div class="header-bottom">
        <div class="container">
          <ul class="header-nav nav nav-pills collapse">
            <li>
              <a [routerLink]="['/']">Home</a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['/companies']">Companies</a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['/jobs']">Positions</a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['/about-us']">About Us</a>
            </li>
          </ul>

          <div class="header-search hidden-sm">
            <form method="get" action="?">
              <input type="text" class="form-control" placeholder="Search ...">
            </form>
          </div><!-- /.header-search -->
        </div><!-- /.container -->
      </div><!-- /.header-bottom -->
    </div><!-- /.header -->
  </div><!-- /.header-wrapper-->

  <div class="main-wrapper">
    <div class="main">
      <router-outlet></router-outlet>
    </div><!-- /.main -->
  </div><!-- /.main-wrapper -->

  <div class="footer-wrapper">
    <div class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
              <div class="footer-top-block">
                <h2><i class="profession profession-logo"></i> CaroJobs</h2>

                <p>
                  CaroJobs Sologan
                </p>

                <ul class="social-links">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                </ul>
              </div><!-- /.footer-top-block -->
            </div><!-- /.col-* -->

            <div class="col-sm-3 col-sm-offset-1">
              <div class="footer-top-block">
                <h2>Helpful Links</h2>

                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">License</a></li>
                  <li><a href="#">Affiliate</a></li>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div><!-- /.footer-top-block -->
            </div><!-- /.col-* -->

            <div class="col-sm-3">
              <div class="footer-top-block">
                <h2>Trending Jobs</h2>

                <ul>
                  <li><a href="position-detail.html">Android Developer</a></li>
                  <li><a href="position-detail.html">Senior Teamleader</a></li>
                  <li><a href="position-detail.html">iOS Developer</a></li>
                  <li><a href="position-detail.html">Junior Tester</a></li>
                  <li><a href="position-detail.html">Full Stack Developer</a></li>
                  <li><a href="position-detail.html">Node.js Developer</a></li>
                  <li><a href="position-detail.html">Scala Developer</a></li>
                </ul>
              </div><!-- /.footer-top-left -->
            </div><!-- /.col-* -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-top -->

      <div class="footer-bottom">
        <div class="container">
          <div class="footer-bottom-left">
            &copy; <a href="#">Profession Template</a>, 2015 All rights reserved.
          </div><!-- /.footer-bottom-left -->

          <div class="footer-bottom-right">
            Created by <a href="http://byaviators.com">Aviators</a>. Premium themes and templates.
          </div><!-- /.footer-bottom-right -->
        </div><!-- /.container -->
      </div><!-- /.footer-bottom -->
    </div><!-- /.footer -->
  </div><!-- /.footer-wrapper -->

</div><!-- /.page-wrapper -->
